.App {
    text-align: center;
    padding: 100px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-container input[type="text"] {
    flex-grow: 1;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
}

.input-container button {
    margin-left: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #256428;
}

.sort-buttons-container button {
    margin-left: 10px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.sort-buttons-container button:hover {
    background-color: #266aa1;
}
.todo-container {
    margin-top: 50px;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list li {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.todo-list li input[type="text"] {
    margin-right: 10px;
    border: none;
    padding: 5px;
}

.todo-list li button {
    margin-left: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.todo-list li button:hover {
    background-color: #aa2a21;
}

/* .input-container button:hover,
.sort-buttons-container button:hover,
.todo-list li button:hover {
    background-color: #45a049;
} */
